html {
    background-color: grey;
}

#myContainer {
    width: 320px;
    height:240px;
    position: relative;
    left: 0px;
    top: 0px;
}

#emailBox {
    position: relative;
    left: 0px,
    top: 0px;
}