

 body {
    background: url('data/hood.png') bottom left no-repeat fixed;
    background-size: contain;
    margin:5px;
    padding:5px;
    width:100%;
    font-family: 'Economica', sans-serif;
    font-size:100%;
    text-align: center; 
    background-position: left bottom;
    background-repeat: no-repeat;
}

h1{
    font-size:100%;
    text-align: center;
    font-weight:10;
    left:0;
    right:0;
}

li {
    display:inline-block;
    
}

#dasForm {
    text-align:left;
    position: absolute;
    top: 50%; left: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
}

#displayContainer {
    position: absolute;
    top: 50%; left: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
}

#myContainer {
    background-color:RGB(50,0);
    text-decoration-color:white;
    position: absolute;
    top: 50%; left: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
}

.link{
    min-height: 100%;
    padding:10px;
    border:10px;
    height: auto;
    text-decoration: none;
    color: grey;
}

#centerpiece{
   position:absolute;
    bottom:0;
    margin:10px;
    right:0;
}
#menu{
    position:fixed;
    bottom:10px;
    left:0px;
    right:0px;
}
#boxy{
    position:relative;
  border-bottom:1px dotted;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width: 30%; /* whatever width you want */
}



#emailBox {
    position: relative;
    left: 0px,
    top: 0px;
}

#decodeCanvas